<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs %> <%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Event</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/event">event</a></li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form tambah event</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/event/create" method="POST">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Masukan nama event</label>
                      <input type="text" name="event_name" class="form-control" id="exampleInputEmail1" placeholder="masukan nama event" required />
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Masukan deskripsi event</label>
                      <input type="text" name="description" class="form-control" id="exampleInputEmail1" placeholder="masukan deskripsi event" required />
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label>Date:</label>
                      <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <input type="text" name="date" class="form-control datetimepicker-input" data-target="#reservationdate" />
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Masukan lokasi event</label>
                      <input type="text" name="location" class="form-control" id="exampleInputEmail1" placeholder="masukan lokasi event" required />
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label>Category </label>
                      <div class="select2-purple">
                        <select class="form-control select2" multiple="multiple" data-placeholder="Pilih category" style="width: 100%" name="category" required>
                          <% category.forEach(category => { %>
                          <option value="<%= category._id  %>"><%= category.category_name %> - <%= category.price %></option>
                          <% }); %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label>Talent </label>
                      <div class="select2-purple">
                        <select class="form-control select2" multiple="multiple" data-placeholder="Pilih talent" style="width: 100%" name="talent" required>
                          <% talent.forEach(talent => { %>
                          <option value="<%= talent._id  %>"><%= talent.talent_name %></option>
                          <% }); %>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
                    <button type="submit" class="btn btn-secondary">
                      <a href="/event" style="color: white"><i class="fa fa-undo"></i> Cancel</a>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
