<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs %> <%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Event</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/event">event</a></li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form tambah event</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/event/create" method="POST" enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Masukan nama event</label>
                      <input type="text" name="event_name" class="form-control" id="exampleInputEmail1" placeholder="masukan nama event" required />
                    </div>
                    <!-- </div> -->
                    <!-- <div class="card-body"> -->

                    <!-- <div class="card-body"> -->

                    <div class="form-group">
                      <label>Date and time range:</label>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-clock"></i></span>
                        </div>
                        <input type="text" name="date" class="form-control float-right" id="reservationtime" />
                      </div>
                      <!-- /.input group -->
                    </div>
                    <!-- </div> -->
                    <!-- <div class="card-body"> -->
                    <div class="form-group">
                      <label for="name">Masukan lokasi event</label>
                      <input type="text" name="location" class="form-control" id="exampleInputEmail1" placeholder="masukan lokasi event" required />
                    </div>

                    <div class="form-group">
                      <label for="maps">Maps</label>
                      <input type="text" name="maps" class="form-control" id="exampleInputEmail1" placeholder="masukan maps berupa link gmaps" required />
                    </div>

                    <div class="form-group">
                      <label for="agency_name">Penyelenggara</label>
                      <input type="text" name="agency_name" class="form-control" id="exampleInputEmail1" placeholder="masukan lokasi event" required />
                    </div>
                    <!-- </div> -->
                    <!-- <div class="card-body"> -->
                    <div class="form-group">
                      <label>Category </label>
                      <div class="select2-purple">
                        <select class="form-control select2" multiple="multiple" data-placeholder="Pilih category" style="width: 100%" name="category" required>
                          <% category.forEach(category => { %>
                          <option value="<%= category._id  %>"><%= category.category_name %> - <%= category.price %></option>
                          <% }); %>
                        </select>
                      </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="card-body"> -->
                    <div class="form-group">
                      <label>Talent </label>
                      <div class="select2-purple">
                        <select class="form-control select2" multiple="multiple" data-placeholder="Pilih talent" style="width: 100%" name="talent" required>
                          <% talent.forEach(talent => { %>
                          <option value="<%= talent._id  %>"><%= talent.talent_name %></option>
                          <% }); %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Masukan deskripsi event</label>
                      <input style="height: 390px; border: 1px solid #999999; padding: 5px" type="text" name="description" class="form-control" id="exampleInputEmail1" placeholder="masukan deskripsi event" required />
                    </div>
                    <div class="form-group">
                      <label for="image">Banner</label>
                      <input type="file" name="image" class="form-control" id="image" placeholder="" required />
                      <br />
                      <img src="" id="perview" />
                    </div>
                  </div>

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
                    <button type="submit" class="btn btn-secondary">
                      <a href="/event" style="color: white"><i class="fa fa-undo"></i> Cancel</a>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
<script>
  function readUrl(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        $('#perview').attr('src', e.target.result);
        $('#perview').attr('width', '30%');
        $('#perview').attr('height', '30%');
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  $('#image').change(function () {
    readUrl(this);
  });

  //Date picker
  $('#reservationdate').datetimepicker({
    format: 'L',
  });

  //Date and time picker
  $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

  //Date range picker
  $('#reservation').daterangepicker();
  //Date range picker with time picker
  $('#reservationtime').daterangepicker({
    timePicker: true,
    timePickerIncrement: 30,
    locale: {
      format: 'MM/DD/YYYY hh:mm A',
    },
  });
  //Date range as a button
  $('#daterange-btn').daterangepicker(
    {
      ranges: {
        Today: [moment(), moment()],
        Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
      },
      startDate: moment().subtract(29, 'days'),
      endDate: moment(),
    },
    function (start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  );

  //Timepicker
  $('#timepicker').datetimepicker({
    format: 'LT',
  });
</script>
